@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.red-text {
  color: #f70776;
}

.bold-text {
  font-weight: 700;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.drag-blur {
  filter: blur(8px);
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.drag-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  font-family: "Noto Sans JP", sans-serif;
  pointer-events: none;
}
